.relative {
	position: relative;
	z-index: 0;
}

.overflow {
	overflow: hidden;
}

.no-gutters {
	margin-right: 0;
	margin-left: 0;

	> .col,
	> [class*='col-'] {
		padding-right: 0;
		padding-left: 0;
	}
}

.valign {
	@include vertical-align;
}
.halign {
	@include horizontal-align;
}
.vhalign {
	@include vertical-horizontal-align;
}

.reset-button {
	@include reset_button;
}

.reset-ul {
	@include reset_ul;
}

.reset-ul-block {
	@include reset_ul_block;
}

//==== Custom Helpers ===//
.the-button {
	@include reset_button;
	display: inline-block;
	height: 40px;
	line-height: 40px;
	padding: 0px 20px;

	color: $primary_color !important;
	text-decoration: none !important;
	background-color: #ccc;

	&:hover {
		background-color: #000;
		color: #fff !important;
	}
}
